@import "tailwindcss";

:root {
  --background: #F9FBF9;
  --foreground: #2D3A32;

  /* Custom Palette */
  --color-primary: #1F453C;
  /* Strong Deep Green from Reference */
  --color-primary-dark: #15322C;
  --color-cream: #F2F0E9;
  /* Cream/Off-white from Reference */
  --color-secondary: #E8F1EC;
  --color-accent: #C5A065;
  --color-surface: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-cream: var(--color-cream);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-surface: var(--color-surface);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}